* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#009688 0 15vh, #dcdbd2 15vh 100%);
}

.container {
  width: 80%;
  min-width: 900px;
  height: 80vh;
  margin: 2% auto;
}

.hide {
  display: none !important;
}

.visible {
  display: block !important;
}

.col1 {
  width: 30%;
  float: left;
  border-right: 0.05em solid grey;
}

.col2 {
  width: 70%;
  float: left;
}

/* upper nav */
.upper_nav,
.set_notifications,
.type_text {
  width: 100%;
  height: 10vh;
}

.upper_nav {
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar {
  height: 10vh;
  padding: 5px;
  margin: 0 5px;
}

.avatar img {
  height: 90%;
  border-radius: 50px;
}

.upper_nav .menu {
  margin-right: 10px;
}

.avatar .text p:nth-child(2),
.avatar .text p:nth-child(3),
.set_notifications .text p:nth-child(2) {
  font-size: 0.8em;
  color: #6e6d6d;
}

.upper_nav i {
  margin: 5px;
  font-size: 1.3em;
  color: #b1b1b1;
  cursor: pointer;
}

/* sezione volume notifiche */

.set_notifications {
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.set_notifications i {
  color: #8edafc;
  font-size: 1.5em;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  margin: 0 5px;
}

.set_notifications .text p:nth-child(2) {
  text-decoration: underline;
}

/* sezione ricerca contatti */

.search {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

label {
  border: 0.05em solid lightgrey;
  border-right: 0;
  padding: 4px 4px 3px 4px;
}

.search input {
  width: 90%;
  padding: 5px;
  border: 0.05em solid lightgrey;
  border-left: 0;
}

/* sezione lista contatti */

.contacts {
  width: 100%;
  height: 65vh;
  overflow-y: scroll;
  background-color: white;
}

.contacts li {
  position: relative;
  list-style: none;
  padding: 10px;
  border-top: 0.05em solid lightblue;
  display: flex;
  align-items: center;
}
.contacts li img {
  height: 50px;
  border-radius: 50px;
}

.contacts li:hover {
  background-color: #eaeaea;
}

.contacts li.active {
  background-color: lightgrey;
}

span.last_message_date {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 0.8em;
  color: #6e6d6d;
}

span.last_message {
  position: absolute;
  left: 61px;
  bottom: 10px;
  font-size: 0.8em;
  color: #6e6d6d;
}

/* sezione chat */

.main {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  background-image: url(../img/mine.jpg);
}

.chat {
  width: 100%;
  margin-top: 30px;
}

.all_message {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 60px;
}

.message i {
  align-self: flex-end;
  visibility: hidden;
  padding: 5px 10px 0 0;
  color: grey;
}

.message:hover i {
  visibility: visible;
}

.message p {
  padding: 0 5px;
}

.message span {
  align-self: flex-end;
  font-size: 0.8em;
  color: grey;
}

.sent {
  background-color: lightgreen;
  align-self: flex-end;
}

.received {
  background-color: white;
}

/* dropdown */

.dropdown {
  position: absolute;
  background-color: white;
  top: 30px;
  right: -35px;
  z-index: 9;
}

.dropdown div {
  list-style: none;
  padding: 10px;
}

.dropdown div:hover {
  color: lightgrey;
  cursor: pointer;
}

/* sezione per scrivere messaggi */

.type_text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3eeea;
}

.type_text i {
  font-size: 1.5em;
  color: #6b7376;
  cursor: pointer;
}

.type_text input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 0.08em solid grey;
}
