<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="root" class="container">
        <!-- inizio colonna sinistra -->
        <div class="col1">
            <!-- prima sezione -->
            <section class="upper_nav">
                <div class="utente">
                    <div class="avatar">
                        <img :src="'img/avatar' + user.avatar + '.jpg'">
                        <div class="text">
                            <p >{{user.name}}</p>
                        </div>
                    </div>
                </div>
                <divc class="menu">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </divc>
            </section>
            <!-- sezione volume notifiche -->
            <section class="set_notifications">
                <i class="fas fa-bell-slash"></i>
                <div class="text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <p>Ricevi notifiche desktop</p>
                </div>
            </section>
            <!-- sezione ricerca contatti -->
            <section class="search">
                <label for=""><i class="fas fa-search"></i></label>
                <input type="text" placeholder="cerca o inizia una nuova chat" @keyup="search" v-model="searchContact">

            </section>
            <!-- sezione lista contatti -->
            <section class="contacts">
                <ul>
                    <li  v-for="(contact, index) in contacts" @click="setSelectedConversation(index)" :class="[(index == avatarCounter) ? 'active' : null, (contact.visible == true) ? '' : 'hide']"> <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">{{contact.name}} <span class="last_message_date">{{lastData(index)}}</span><span class="last_message">{{lastMessage(index)}}</span></li>
                </ul>

            </section>

        </div>
        <!-- fine colonna sinistra -->
        <!-- inizio colonna destra -->
        <div class="col2">
            <!-- prima sezione -->
            <section class="upper_nav">
                <div class="utente">
                    <div class="avatar" v-for="(message, index) in user.messages">
                        <img :src="'img/avatar' + contacts[avatarCounter].avatar + '.jpg'" alt="">
                        <div class="text">
                            <p>{{contacts[avatarCounter].name}}</p>
                            <p :class="lastView">ultimo accesso oggi alle <span>{{message.date}}</span></p>
                            <p :class="visibility">Sta scrivendo...</p>

                        </div>
                    </div>
                </div>
                <div class="menu">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>


            </section>
            <!-- sezione chat -->
            <section class="main">
                <div class="chat">
                    <div class="all_message">
                        <div class="message" :class="(message.status == 'sent') ? 'sent' : 'received'"  v-for="(message, index) in contacts[avatarCounter].messages" >
                            <i @click="option(index)" class="fas fa-chevron-down"></i>
                            <p>{{message.text}}</p>
                            <span>{{message.date}}</span>
                            <div v-if="messageActive.show && messageActive.index === index" class="dropdown">                               
                                <div>Informazioni</div>
                                <div @click="deleteMessage(index)">Elimina messaggio</div>       
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- sezione per scrivere messaggi -->
            <section class="type_text">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="newtext" @keyup.enter="sendText">
                <i class="fas fa-microphone"></i>
            </section>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>